.sec2 {
  height: 300px;
  display: flex;
  overflow: hidden;
}
.sec-box1 {
  height: 300px;
  width: 70%;
}
.content1 {
  width: 70%;
  float: right;
  margin-top: 40px;
}
.content2 {
  width: 70%;
  float: right;
  margin-top: 20px;
}
.content3 {
  width: 70%;
  float: right;
  margin-top: 20px;
}
.sec-box2 {
  height: 300px;
  width: 50%;
}
.sec-img {
  height: 220px;
  width: 370px;
  margin-left: 10%;
  margin-top: 70px;
}